body {
  margin: 0;
  background: rgb(242, 251, 255);
}
html {
  scroll-behavior: smooth; /* 1 */
}
ul {
  list-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
  border: 0;
}
.section {
  word-break: break-word;
  width: 100%;
  padding: 80px 0px;
  background-color: rgb(242, 251, 255);
}

p {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
