/* SkyComponent.css */

.sky-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
  }
}

.contentt {
  z-index: 2;
  padding: 80px 0px;
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  gap: 50px;
}

.sectionb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1024px) {
  .sectionb:not(:last-child) {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 20px;
  }
}
.section-number {
  font-family: "Playfair Display", serif;
  font-size: 67.68px;
  font-weight: bold;
  color: #ffcc00; /* Golden color */
  text-align: left;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    right: 0px;
    top: 50%;
    transform: translateY(5px);
    font-family: "Playfair Display", serif;
    font-weight: 400;
    /* font-size: 67.68px; */
  }

  @media (max-width: 1024px) {
    &::after {
      display: none;
    }
  }
}

.section-text {
  font-weight: 600;
  margin-top: 10px;
  font-family: "Playfair Display", serif;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
  letter-spacing: 1px;
  text-align: left;
  font-style: italic;
  /* text-transform: ita;

   */
  /* white-space: pre-line; */
}

/* #section-2 .section-text {
  line-height: 1.8;
} */

.sectionb {
  width: 300px;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.background-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sky-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: left;
  transform: translate(-50%, -50%);
  z-index: -1;
}
